.landing_page{
    background-color: white;
    padding: 14px;
    box-shadow:  18px 12px rgb(141, 217, 227); 
    object-fit: contain;
    min-width: fit-content;
    width: 90%;

    

}
.programs ul{
    list-style-type: none;
    display: flex;
    gap: 15%;
}
.body{
    background-color: rgb(226, 243, 248);
    padding: 5%;
    font-size: large;
}
.navbar{
   display: flex;
    margin-bottom: 7%;
 
}
.navbar_buttons{
    display: flex;
    margin-left: 29%;
    gap: 98%;

}
.company_name{

}
.programs{
    display: flex;
    gap: 40%;
    color: gray;
    font-size: large;
    text-decoration: none;
}

.company{
    font-size: larger;
}
.skillhero{ 
    font-size: larger;
    color: red;
}
.home{
    color: red;
    font-size: large;
    text-decoration: none;
}

.login{
    border: solid red 2px ;
    border-radius: 10px;
    color: red;
    padding: 10px;
    text-decoration: none;
}

.signup{
    color: white;
    background-color: red;
    width: 30%;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;


}
.landing_page_details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 15px;
    margin-bottom: 3%;
    margin-bottom: 2%;
    gap: 9%;
}
.skills{
    font-size: 3ch;
    color: rgb(7, 7, 73);
    font-size: 400%;
}
.company_level{
    font-size: 100%;
    color: red;
}
.landing_page_text{
    font-size: 150%;
    color: gray;
}
.font{
    font-size: 200%;
}
.input{
    color: gray;
    font-size: small;
    padding: 20px;
    width: 60%;
    border: solid 1px gray;
    border-radius: 15px;
    
}
.subscribe_button{
    color: white;
    background-color: red;
    border-radius: 14px;
    padding: 20px;
    box-shadow:  10px,10px lightcoral;
    width: 30%;
    transform: translate(-80%,-1%);
    
}
.subscription{
    color: white;
    text-decoration: none;

}
.margins{
    margin-right: 3%;
}
.logo_images{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 4%;
}
#logos img{
    width: 55%;
    height: 40%;
}
.landing_page_image{
    width: 60%;

}
/* .buttons{
    display: flex;
    gap: 1%;
} */
.company_logo{
    width: 40%;
}

@media screen and (min-width:250px) and (max-width:400px) {
    .landing_page{
        background-color: white;
        padding: 14px;
        box-shadow:  18px 12px rgb(141, 217, 227); 
        object-fit: contain;
        min-width: fit-content;
        width: 50%;
    
        
    
    }
    .body{
        background-color: rgb(226, 243, 248);
        padding: 0%;
    }
    
    .navbar{
        display: flex;
        flex-wrap: wrap;
         margin-bottom: 7%;
      
     }
     .navbar_buttons{
         display: flex;
         margin-left: 15%;
         gap: 98%;
     
     }
     .company_name{
        margin-bottom: 10%;
     }
     .programs{
         display: flex;
         gap: 30%;
         color: gray;
         font-size: large;
         text-decoration: none;
     }
    

    .landing_page_details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 15px;
        margin-bottom: 3%;
        margin-bottom: 2%;
        gap: 9%;
    }
    .skills{
        font-size: 3ch;
        color: rgb(7, 7, 73);
        font-size: 200%;
    }
    .company_level{
        font-size: 100%;
        color: red;
    }
    .landing_page_text{
        font-size: 100%;
        color: gray;
    }
    .font{
        font-size: 200%;
    }
    .input{
        color: gray;
        font-size: small;
        padding: 20px;
        width: 50%;
        border: solid 1px gray;
        border-radius: 15px;
        margin-bottom: 10%;
        
    }
    .subscribe_button{
        color: white;
        background-color: red;
        border-radius: 14px;
        padding: 15px;
        box-shadow:  10px,10px lightcoral;
        width: 30%;
        transform: translate(40%,1%);
    
        
    }
    .subscription{
        color: white;
        text-decoration: none;
    
    }
    .margins{
        margin-right: 3%;
    }
    .logo_images{
        display: grid;
        grid-template-columns: repeat(2 , 3fr);
        gap: 4%;
    }
    #logos img{
        width: 25%;
        height: 40%;
    }
    .landing_page_image{
        width: 60%;
        margin-bottom: 18%;
    
    }
    
    .company_logo{
        width: 20%;
        margin-top: 30%;
    }
    .programs ul{
        list-style-type: none;
        display: block;
        gap: 15%;
    }

}
@media screen and (min-width:401px) and (max-width:700px) {
    .landing_page{
        background-color: white;
        padding: 14px;
        box-shadow:  18px 12px rgb(141, 217, 227); 
        object-fit: contain;
        min-width: fit-content;
        width: 90%;

    }
    .body{
        background-color: rgb(226, 243, 248);
        padding: 5%;
    }
    
    .navbar{
        display: flex;
        flex-wrap: wrap;
         margin-bottom: 17%;
      
     }
     .navbar_buttons{
          display: flex;
         flex-wrap: wrap;
         column-gap: 10%; 
     
     }
     .programs{
         display: flex;
         gap: 30%;
         color: gray;
         font-size: large;
         text-decoration: none;
         margin-bottom: 10%;
     }
    .company{
        font-size: larger;
    }
    .skillhero{ 
        font-size: larger;
        color: red;
    }
    
    
    .login{
        border: solid red 2px ;
        border-radius: 10px;
        color: red;
        padding: 10px;
        text-decoration: none;
        
    }
    
    .signup{
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
    
    
    }
    .landing_page_details{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        padding: 15px;
        margin-bottom: 3%;
        margin-bottom: 2%;
        gap: 9%;
    }
    .skills{
        font-size: 3ch;
        color: rgb(7, 7, 73);
        font-size: 400%;
    }
    .company_level{
        font-size: 100%;
        color: red;
    }
    .landing_page_text{
        font-size: 150%;
        color: gray;
    }
    .font{
        font-size: 200%;
    }
    .input{
        color: gray;
        font-size: small;
        padding: 20px;
        width: 60%;
        border: solid 1px gray;
        border-radius: 15px;
        
    }
    .subscribe_button{
        color: white;
        background-color: red;
        border-radius: 14px;
        padding: 20px;
        box-shadow:  10px,10px lightcoral;
        width: 30%;
        
    
        
    }
    .subscription{
        color: white;
        text-decoration: none;
        align-items: center;
    
    }
    .margins{
        margin-right: 3%;
    }
    .logo_images{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        gap: 4%;
    }
    #logos img{
        width: 65%;
        height: 40%;
    }
    .landing_page_image{
        width: 60%;
        margin-bottom: 30%
    
    }
    
    .company_logo{
        
        width: 50%;
    }
    .programs ul{
        list-style-type: none;
        display: flex;
        gap: 12%;
    }
    .programs ul{
        list-style-type: none;
        display: block;
        gap: 10%;
}
}
@media screen and (min-width:701px) and (max-width:990px) {
    .landing_page{
        background-color: white;
        padding: 14px;
        box-shadow:  18px 12px rgb(141, 217, 227); 
        object-fit: contain;
        min-width: fit-content;
        width: 90%;
    

    }
    .navbar{
        display: flex;
        flex-wrap: wrap;
         margin-bottom: 17%;
      
     }
     .navbar_buttons{
         display: flex;
         margin-left: 29%;
         gap: 98%;
     
     }
     .programs{
         display: flex;
         gap: 40%;
         color: gray;
         font-size: large;
         text-decoration: none;
         margin-bottom: 10%;
     }
    .body{
        background-color: rgb(226, 243, 248);
        padding: 5%;
    }
    .navbar{
       display: grid; 
       grid-template-columns: repeat(8 , 1fr);
        gap: 2%;
        margin-bottom: 7%;
    }
    .company{
        font-size: larger;
    }
    .skillhero{ 
        font-size: larger;
        color: red;
    }
    .home{
        color: red;
        font-size: large;
        text-decoration: none;
    }
    .programs{
        color: gray;
        font-size: large;
        text-decoration: none;
    }
    .login{
        border: solid red 2px ;
        border-radius: 10px;
        color: red;
        padding: 10px;
        text-decoration: none;
    }
    
    .signup{
        color: white;
        background-color: red;
        border-radius: 10px;
        padding: 10px;
        text-decoration: none;
    
    
    }
    .landing_page_details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding: 15px;
        margin-bottom: 3%;
        margin-bottom: 2%;
        gap: 9%;
    }
    .skills{
        font-size: 3ch;
        color: rgb(7, 7, 73);
        font-size: 400%;
    }
    .company_level{
        font-size: 100%;
        color: red;
    }
    .landing_page_text{
        font-size: 150%;
        color: gray;
    }
    .font{
        font-size: 200%;
    }
    .input{
        color: gray;
        font-size: small;
        padding: 20px;
        width: 60%;
        border: solid 1px gray;
        border-radius: 15px;
        
    }
    .subscribe_button{
        color: white;
        background-color: red;
        border-radius: 14px;
        padding: 20px;
        box-shadow:  10px,10px lightcoral;
        width: 30%;
        transform: translate(-80%,-1%);
        
    }
    .subscription{
        color: white;
        text-decoration: none;
    
    }
    .margins{
        margin-right: 3%;
    }
    .logo_images{
        display: grid;
        grid-template-columns: repeat(5 , 1fr);
        gap: 4%;
        
        
    }
    #logos img{
        width: 55%;
        height: 40%;
    }
    .landing_page_image{
        width: 60%;
        margin-bottom: 60%;
    
    }
    
    .company_logo{
        width: 40%;
    }
    .programs ul{
        list-style-type: none;
        display: flex;
        gap: 15%;}
}
  